{% extends 'base_profile.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="front">
                                <div class="card-content">
                                    <h5 class="category-social text-success">
                                        <i class="fa fa-newspaper-o"></i> Создайте раздел в дневник
                                    </h5>
                                    <small> Разделы дневника позволяют структурировать информацию для лучшего анализа.</small>
                                    <br>
                                    <br>
                                    <br>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <button type="submit" class="btn btn-success btn-sm pull-center">Добавить
                                        </button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                </div>
            </div>
        </div>
    </div>
{% endblock %}