{% extends 'base_profile.html' %}
{% load static %}
{% block content %}
   <div class="edit-table">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="header-title">Ваши дневники</h5>
                            </div>
                            <div class="col-4 text-right"><a
                                    href="{% url 'diary_cat_create' %}"
                                    type="button"
                                    rel="tooltip" class="btn btn-default">
                                <i class="mdi mdi-library-plus">Новый дневник</i>
                            </a>
                            </div>
                        </div>
                        <div class="">
                            <table class="table" id="my-table">
                                <thead>
                                <tr>
                                    <th>Дневник</th>
                                    <th>Дата обновления</th>
                                    <th>Количество категорий</th>
                                    <th>Количество заметок</th>
                                    <th></th>
                                </tr>
                                </thead>
                                {% for category in object_list %}
                                    <tbody>
                                    <tr>
                                        <td><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></td>
                                        <td>{{ category.update_date|date:'b, d, Y' }}</td>
                                        <td>{{ category.diarysubcategory_set.count }}</td>
                                        <td></td>
                                        <td style="white-space: nowrap; width: 15%;">
                                            <div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                                                <div class="btn-group btn-group-sm" style="float: none;">
                                                    <a href="{% url 'diary_cat_update'  cat_pk=category.id %}"
                                                       type="button"
                                                       class="tabledit-edit-button btn btn-sm btn-info"
                                                       style="float: none; margin: 5px;"><span
                                                            class="ti-pencil"></span></a>
                                                    <a href="{% url 'diary_cat_delete' cat_pk=category.id %}"
                                                       type="button"
                                                       class="tabledit-delete-button btn btn-sm btn-info"
                                                       style="float: none; margin: 5px;"><span
                                                            class="ti-trash"></span></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div>
{% endblock %}