{% extends 'base_profile.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
    .sticky ul,li{
    list-style:none;
    }
    .sticky ul{
    overflow:hidden;
    padding:3em;
    }
    .sticky ul li a{
    text-decoration:none;
    color:#000;
    background:#f6ff7a;
    display:block;
    height:15em;
    width:15em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
    }
    .sticky ul li{
    margin:1em;
    float:left;
    }
    .sticky ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
    }
    .sticky ul li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
    }
    .sticky ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    }
    .sticky ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#f26b6b;
    }
    .sticky ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
    background: #6bbcf2;
    }
    .sticky ul li a:hover,ul li a:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
    }
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card h-100">
                        <div class="card-header card-header-primary">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="card-title">Категории дневника - {{ object.name }}</h4>
                                    <p class="card-category"> Добавьте свои мысли о торговле </p>
                                </div>
                                <div class="col-4 text-right"><a
                                        href="{% url 'diary_subcat_create' cat_pk=object.id %}"
                                        type="button"
                                        rel="tooltip" class="btn btn-default">
                                    <i class="material-icons">add</i>
                                </a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row sticky">
                                {% for subcategory in subcategories %}
                                    <div class="col-md-4">
                                        <div class="card card-chart">
                                            <div class="card-header card-header-warning">
                                                <div class="ct-chart" id="completedTasksChart"></div>
                                            </div>
                                            <div class="card-body">
                                                <a href="{{ subcategory.get_absolute_url }}">
                                                    <h4 class="card-title">{{ subcategory.name }}</h4>
                                                    <p class="card-category"></p></a>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats">
                                                    <i class="material-icons">access_time</i> {{ subcategory.update_date|date:'b, d, Y' }}
                                                </div>
                                                <div class="text-right">
                                                    <a type="button" rel="tooltip" title="Edit Task"
                                                       class="btn btn-primary btn-link btn-sm">
                                                        <i class="material-icons">edit</i>
                                                    </a>
                                                    <a type="button" rel="tooltip" title="Remove"
                                                       class="btn btn-danger btn-link btn-sm">
                                                        <i class="material-icons">close</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}