{% extends 'base_profile.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-text" data-background-color="rose">
                        <h4 class="card-title">Заметка - {{ object.title }} </h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group label-floating">
                                    {{ form.media }}
                                    {{ form|crispy }}
                                </div>
                                <button type="submit" class="btn btn-success btn-sm pull-center">Запостить
                                </button>
                                {% if object %}
                                    <a href="{% url 'diary_note_delete' cat_pk=object.category.parent.id sub_pk=object.category.id note_pk=object.id %}"
                                       type="button" class="btn btn-danger btn-sm">
                                        Удалить
                                    </a>
                                {% endif %}
                                <div class="clearfix"></div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}