{% extends 'base_profile.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
    .sticky ul,li{
    list-style:none;
    }
    .sticky ul{
    overflow:hidden;
    padding:3em;
    }
    .sticky ul li a{
    text-decoration:none;
    color:#000;
    background:#f6ff7a;
    display:block;
    height:15em;
    width:15em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
    }
    .sticky ul li{
    margin:1em;
    float:left;
    }
    .sticky ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
    }
    .sticky ul li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
    }
    .sticky ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    }
    .sticky ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#f26b6b;
    }
    .sticky ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
    background: #6bbcf2;
    }
    .sticky ul li a:hover,ul li a:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
    }
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card h-100">
                        <div class="card-header card-header-primary">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="card-title">Раздел - {{ object.name }} - дневника -
                                        "{{ object.parent.name }}"</h4>
                                    <p class="card-category"> Добавьте свои мысли о торговле </p>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="{% url 'diary_note_create' cat_pk=object.parent.id sub_pk=object.id %}"
                                       type="button"
                                       rel="tooltip" class="btn btn-default">
                                        <i class="material-icons">add</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row sticky">
                                <ul>
                                    {% for note in notes %}
                                        <li>

                                            <a href="{% url 'diary_note_update' cat_pk=object.parent.id sub_pk=object.id note_pk=note.id %}">
                                                <h2>{{ note.title }}</h2>

                                                <small>Обновлено: {{ note.update_date|date:'b, d, Y' }}</small>
                                            </a>

                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}