{% extends 'base_profile.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="orange">
                            <a href="#"> <i class="material-icons">assignment</i> </a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Категории дневника - {{ object.name }}</h4>
                          <a class="btn btn-warning btn-sm" href="{% url 'diary_subcat_create' cat_pk=object.id %}">Создать новую категорию</a>
                            <div class="toolbar">
                                <!--        Here you can write extra buttons/actions for the toolbar              -->
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Категория</th>
                                        <th class="text-right">Дата обновления</th>
                                        <th class="text-right">Количество заметок</th>
                                        <th class="text-right">Действия</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for category in subcategories %}

                                            <tr>
                                                <td></td>
                                                <td>
                                                    {% if category.diarynote_set.first is None %}
                                                        <a href="{% url 'diary_note_create' cat_pk=category.parent.id sub_pk=category.id %}"><i
                                                                class="material-icons">
                                                            library_books
                                                        </i> {{ category.name }}</a>
                                                    {% else %}
                                                        <a href="{% url 'diary_note_update' cat_pk=category.parent.id sub_pk=category.id note_pk=category.diarynote_set.first.id %}"><i
                                                                class="material-icons">
                                                            library_books
                                                        </i> {{ category.name }}</a>
                                                    {% endif %}
                                                </td>
                                                <td class="text-right"> {{ category.update_date|date:'b, d, Y' }}</td>
                                                <td class="text-right">{{ category.diarynote_set.count }}</td>
                                                <td class="text-right">
                                                    <a href="{% url 'diary_subcat_update'  cat_pk=category.parent.id sub_pk=category.id %}"
                                                       class="btn btn-success btn-round btn-xs">
                                                        <i class="material-icons">edit</i></a>
                                                    <a href="{% url 'diary_subcat_delete' cat_pk=category.parent.id sub_pk=category.id %}"
                                                       class="btn btn-danger btn-round btn-xs">
                                                        <i class="material-icons">close</i></a>
                                                </td>
                                            </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- end content-->
                    </div><!--  end card  -->
                </div> <!-- end col-md-12 -->
            </div>
            <!-- end row -->
        </div>
{% endblock %}