{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {{ object.title }} - {{ block.super }} {% endblock %}
{% block header %}
    <div class="page-header header-filter" data-parallax="true"
         style="background-image: url('{{ post.image_post.url }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h3 class="title">«Начинайте с малого. Если дела пойдут, наращивайте большую позицию».
                        </h3>
                        <h6 class="text-right">Джордж Сорос</h6>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="section section-text">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="title">{{ post.title }}</h3>
                <hr>
                <p>{{ post.content }}</p>
                <hr>
            </div>
        </div>

        <div class="section section-comments">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="media-area">
                        <h3 class="title text-center">{{ post.comments.count }} Comments</h3>
                        {% for comment in comments %}
                            <div class="media">
                                <a class="pull-left" href="">
                                    <div class="avatar">
                                        <img class="media-object" src="{{ comment.author.profile.image.url }}"
                                             alt="..."/>
                                    </div>
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ comment.author.get_full_name }}
                                        <small>&middot; {{ comment.com_date|date:'b, d, Y' }}</small></h4>
                                    <h6 class="text-muted"></h6>
                                    <p>{{ comment.comment }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if user.is_authenticated %}
                        <h3 class="title text-center">Добавить комментарий</h3>
                        <div class="media media-post">
                            <a class="pull-left author" href="#pablo">
                                <div class="avatar">
                                    <img class="media-object" alt="64x64"
                                         src="{{ user.profile.image.url }}">
                                </div>
                            </a>
                            <div class="media-body">
                                <form method="post" action="{% url 'comment_add' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="object_id" value="{{ post.id }}">
                                    {{ form|crispy }}
                                    <input class="btn btn-primary btn-round btn-wd pull-right" type="submit">
                                </form>
                            </div>
                        </div> <!-- end media-post -->
                    {% endif %}
                </div>
            </div>
        </div>

{% endblock %}