{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{ object.title }} - {{ block.super }} {% endblock %}

{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{ post.category.name }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post">
                        <div class="feature-img">
                            <img class="img-fluid" src="{{ post.image_post.url }}" alt="">
                        </div>
                        <div class="blog_details">
                            <h2>{{ post.title }}  </h2>
                            <ul class="blog-info-link mt-3 mb-4">
                                <li><a href="{{ post.category.get_absolute_url }}"><i
                                        class="fa fa-user"></i> {{ post.category.name }}</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> {{comments.count}} Comments</a></li>
                            </ul>
                            <p class="excert">
                                {{ post.content }}
                            </p>
                        </div>
                    </div>
                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and
                                4
                                people like this</p>
                            <div class="col-sm-4 text-center my-2 my-sm-0">
                                <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                            </div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="comments-area">
                        <h4>{{ comments.count }} Comments</h4>
                        <div class="comment-list">
                            {% for comment in comments %}
                                <hr>
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="img/comment/comment_1.png" alt="">
                                        </div>
                                        <div class="desc">
                                            <p class="comment">
                                                {{ comment.comment }}
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center text-right">
                                                    <h5>
                                                        <a href="#">{{ comment.author }}</a>
                                                    </h5>
                                                    <p class="date">{{ comment.com_date|date:'M-d-Y' }} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="comment-form">
                        <h4>Добавить комментарий</h4>
                        <form method="POST" action="{% url 'comment_add' %}">
                            {% csrf_token %}
                            <input type="hidden" name="object_id" value="{{ post.id }}">
                            {{ form|crispy }}
                            <input type="submit" value="Добавить">
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <div class="media align-items-center">
                                <img src="img/blog/author.png" alt="">

                                <div class="media-body text-center">
                                    <a href="#">
                                        <h4>{{ post.author.get_full_name }}</h4>
                                    </a>
                                    <hr>
                                    <p> Description author</p>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Blog Area end =================-->
{% endblock %}