<!DOCTYPE html>
{% load static %}
<html lang="zxx" class="js">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="CryptoCoin is a powerful Bitcoin Crypto Currency Wallet and Mining Template with full of customization options and features">
		<!-- Fav Icon  -->
		<link rel="shortcut icon" href="{% static 'blog/images/favicon.png' %}">
		<!-- Site Title  -->
		<title>{% block title %} Profesion tools for forex{% endblock %}</title>
		<!-- Vendor Bundle CSS -->
		<link rel="stylesheet" href="{% static 'blog/assets/css/vendor.bundle.css' %}" >
		<!-- Custom styles for this template -->
		<link href="{% static 'blog/assets/css/style.css' %}" rel="stylesheet">
		<link href="{% static 'blog/assets/css/theme.css' %}" rel="stylesheet">
	</head>
<body>
<!-- header-start -->
<header class="site-header header-s1 is-sticky">
    {% include 'include/nav_base.html' %}
</header>
<!-- header-end -->
{% block sidebar %}
{% endblock %}
{% block content %}

{% endblock %}
{% include 'include/footer_base.html' %}
<!-- JS here -->

		<script src="{% static 'blog/assets/js/jquery.bundle.js' %}"></script>
		<script src="{% static 'blog/assets/js/script.js' %}"></script>
</body>
</html>