<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="keyword" content="">

    <title>{% block title %} Profile {% endblock %}</title>

    <!-- Theme icon -->
    <link rel="shortcut icon" href="{% static 'profiles/assets/images/favicon.ico' %}">

    <link href="{% static 'profiles/assets/plugins/morris-chart/morris.css' %}" rel="stylesheet">
    <!-- Theme Css -->
    <link href="{% static 'profiles/assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'profiles/assets/css/slidebars.min.css' %}" rel="stylesheet">
    <link href="{% static 'profiles/assets/css/icons.css' %}" rel="stylesheet">
    <link href="{% static 'profiles/assets/css/menu.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'profiles/assets/css/style.css' %}" rel="stylesheet">
    <style>
        {% block style %} {% endblock %}
    </style>
</head>

<body class="sticky-header">
<section>
    <!-- sidebar left start-->
    <div class="sidebar-left">
        <div class="sidebar-left-info">

            <div class="user-box">
                <div class="d-flex justify-content-center">
                    <img src="{{ user.profile.image.url }}" alt="" class="img-fluid rounded-circle">
                </div>
                <div class="text-center text-white mt-2">
                    <h6>{{ user.get_full_name }}</h6>
                    <p class="text-muted m-0">{{ user.profile.categiry_learn }}</p>
                </div>
            </div>

            <!--sidebar nav start-->
            <ul class="side-navigation">
                <li>
                    <h3 class="navigation-title">Навигация</h3>
                </li>
                <li>
                    <a href="{% url 'dashboard' %}"><i class="mdi mdi-gauge"></i> <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="{% url 'profile_main' %}"><i class="mdi mdi-account"></i> <span>Профиль</span></a>
                </li>
                <li>
                    <a href="{% url 'post_create' %}"><i class="mdi mdi-clipboard-text"></i>
                        <span>Создать публикацию</span></a>
                </li>
                <li class="menu-list"><a href=""><i
                        class="mdi mdi-book-open-page-variant"></i> <span>Торговый дневник</span></a>
                    <ul class="child-list">
                        <li><a href="{% url 'diary_cat_list' %}"> Все дневники</a></li>
                        {% for category in categories %}
                            <li><a href="{{ category.get_absolute_url }}"> {{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul><!--sidebar nav end-->
        </div>
    </div><!-- sidebar left end-->

    <!-- body content start-->
    <div class="body-content">
        <!-- header section start-->
        <div class="header-section">
            <!--logo and logo icon start-->
            <div class="logo">
                <a href="{% url 'index' %}">
                            <span class="logo-img">
                                <img src="{% static 'profiles/assets/images/logo_sm.png' %}" alt="" height="26">
                            </span>
                    <!--<i class="fa fa-maxcdn"></i>-->
                    <span class="brand-name">FxProTools</span>
                </a>
            </div>

            <!--toggle button start-->
            <a class="toggle-btn"><i class="ti ti-menu"></i></a>
            <!--toggle button end-->

            <!--mega menu start-->
            <div id="navbar-collapse-1" class="navbar-collapse collapse mega-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <form class="search-content" action="index.html" method="post">
                            <input type="text" class="form-control mt-3" name="keyword" placeholder="Search...">
                            <span class="search-button"><i class="ti ti-search"></i></span>
                        </form>
                    </li>
                </ul>
            </div>
            <!--mega menu end-->

            <div class="notification-wrap">
                <!--right notification start-->
                <div class="right-notification">
                    <ul class="notification-menu">
                        <li>
                            <a href="javascript:;" class="notification" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-success">4</span>
                            </a>
                            <ul class="dropdown-menu mailbox dropdown-menu-right">
                                <li>
                                    <div class="drop-title">Notifications</div>
                                </li>
                                <li class="notification-scroll">
                                    <div class="message-center">
                                        <a href="#">
                                            <div class="user-img">
                                                <i class="ti ti-star"></i>
                                            </div>
                                            <div class="mail-contnet">
                                                <h6>Jane A. Seward</h6>
                                                <span class="mail-desc">Iwon meddle and...</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="user-img">
                                                <i class="ti ti-heart"></i>
                                            </div>
                                            <div class="mail-contnet">
                                                <h6>Michael W. Salazar</h6>
                                                <span class="mail-desc">Lovely gide learn for you...</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="user-img">
                                                <i class="ti ti-image"></i>
                                            </div>
                                            <div class="mail-contnet">
                                                <h6>David D. Chen</h6>
                                                <span class="mail-desc">Send his new photo...</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="user-img">
                                                <i class="ti ti-bell"></i>
                                            </div>
                                            <div class="mail-contnet">
                                                <h6>Irma J. Hendren</h6>
                                                <span class="mail-desc">6:00 pm our meeting so...</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="text-center bg-light" href="javascript:void(0);">
                                        <strong>See all notifications</strong>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;" class="notification" data-toggle="dropdown">
                                <i class="mdi mdi-email-outline"></i>
                                <span class="badge badge-danger">9</span>
                            </a>
                            <ul class="dropdown-menu mailbox dropdown-menu-right">
                                <li>
                                    <div class="drop-title">New Messages 5</div>
                                </li>
                                <li class="notification-scroll">
                                    <div class="message-center">
                                        <a href="#">
                                            <div class="user-img">
                                                <img src="assets/images/users/avatar-2.jpg" alt="user"
                                                     class="rounded-circle">
                                                <span class="profile-status online pull-right"></span>
                                            </div>
                                            <div class="mail-contnet">
                                                <h6>Cassie T. Bishop</h6>
                                                <span class="mail-desc">Just see the my admin!</span>
                                                <span class="time">9:30 AM</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="user-img">
                                                <img src="assets/images/users/avatar-3.jpg" alt="user"
                                                     class="rounded-circle">
                                                <span class="profile-status busy pull-right"></span>
                                            </div>
                                            <div class="mail-contnet">
                                                <h6>Rudy A. Scott</h6>
                                                <span class="mail-desc">I've sung a song! See you at</span> <span
                                                    class="time">9:10 AM</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="user-img">
                                                <img src="assets/images/users/avatar-4.jpg" alt="user"
                                                     class="rounded-circle">
                                                <span class="profile-status away pull-right"></span>
                                            </div>
                                            <div class="mail-contnet">
                                                <h6>Kevin D. Jernigan</h6>
                                                <span class="mail-desc">I am a singer!</span>
                                                <span class="time">9:08 AM</span>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="user-img">
                                                <img src="assets/images/users/avatar-5.jpg" alt="user"
                                                     class="rounded-circle">
                                                <span class="profile-status offline pull-right"></span>
                                            </div>
                                            <div class="mail-contnet">
                                                <h6>Jane A. Seward</h6>
                                                <span class="mail-desc">Just see the my admin!</span> <span
                                                    class="time">9:02 AM</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="text-center bg-light" href="javascript:void(0);"> <strong>See all
                                        notifications</strong> </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;" data-toggle="dropdown">
                                <img src="assets/images/users/avatar-1.jpg" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-menu">
                                <a class="dropdown-item" href="#"><i
                                        class="mdi mdi-account-circle m-r-5 text-muted"></i> Profile</a>
                                <a class="dropdown-item" href="#"><span
                                        class="badge badge-success pull-right">5</span><i
                                        class="mdi mdi-settings m-r-5 text-muted"></i> Settings</a>
                                <a class="dropdown-item" href="#"><i
                                        class="mdi mdi-lock-open-outline m-r-5 text-muted"></i> Lock screen</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</a>
                            </div>

                        </li>

                        <li>
                            <div class="sb-toggle-right">
                                <i class="mdi mdi-apps"></i>
                            </div>
                        </li>
                    </ul>
                </div><!--right notification end-->
            </div>
        </div>
        <!-- header section end-->
        <div class="container-fluid">
            <div class="page-head">
                <h4 class="mt-2 mb-2"></h4>
            </div>
            {% block content %}
            {% endblock %}
        </div><!--end container-->
    </div>
    <!--end body content-->
</section>

<!-- jQuery -->
<script src="{% static 'profiles/assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'profiles/assets/js/popper.min.js' %}"></script>
<script src="{% static 'profiles/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'profiles/assets/js/jquery-migrate.js' %}"></script>
<script src="{% static 'profiles/assets/js/modernizr.min.js' %}"></script>
<script src="{% static 'profiles/assets/js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'profiles/assets/js/slidebars.min.js' %}"></script>

<!--plugins js-->
<script src="{% static 'profiles/assets/plugins/counter/jquery.counterup.min.js' %}"></script>
<script src="{% static 'profiles/assets/plugins/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'profiles/assets/plugins/sparkline-chart/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'profiles/assets/pages/jquery.sparkline.init.js' %}"></script>

<script src="{% static 'profiles/assets/plugins/chart-js/Chart.bundle.js' %}"></script>
<script src="{% static 'profiles/assets/plugins/morris-chart/raphael-min.js' %}"></script>
<script src="{% static 'profiles/assets/plugins/morris-chart/morris.js' %}"></script>
<script src="{% static 'profiles/assets/pages/dashboard-init.js' %}"></script>


<!--app js-->
<script src="{% static 'profiles/assets/js/jquery.app.js' %}"></script>
<script>
    jQuery(document).ready(function ($) {
        $('.counter').counterUp({
            delay: 100,
            time: 1200
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var link = window.location.pathname;
        $('li a[href="' + link + '"]').parent().addClass('active');
    });
</script>
</body>
</html>
