{% extends 'base_profile.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Редактировать информацию о себе</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <input type="file" class="form-control" id="exampleInputFile"
                                               name="image">
                                    </div>
                                    <div class=" col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Learn group</label>
                                            <input type="text" class="form-control" value="{{ user.profile.categiry_learn }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="id_username" class=" bmd-label-floating">Username</label>
                                            <input type="text" name="username" class="form-control" required
                                                   id='id_username' value="{{ user.username }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="id_email" class="bmd-label-floating">Email address</label>
                                            <input name="email" value="{{ user.email }}" class="emailinput form-control"
                                                   required id="id_email" type="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="id_first_name" class="bmd-label-floating">Fist Name</label>
                                            <input name="first_name" value="{{ user.first_name }}" type="text"
                                                   class="form-control" required id="id_first_name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="id_last_name" class="bmd-label-floating">Last Name</label>
                                            <input name="last_name" value="{{ user.last_name }}" type="text"
                                                   class="form-control" required id="id_last_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Adress</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">City</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Country</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Postal Code</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="id_description" class="bmd-label-floating">About Me </label>
                                            <textarea name="description" class="form-control" rows="3" required
                                                      id="id_description">{{ user.profile.description }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}